body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f4f4f4;
}

input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0b75d1;
}
